<!doctype  html>
<html>
 <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 </head>
<body>
 <center>
<h1 class="alert alert-warning" style="font-Family:Courier new;font-Weight:bold">Facial Recognition Attendance System</h1>
<p class="font-sans" style="color:pink;font-Weight:bolder;">@Maida Iftikar </p>

  <div class="alert-secondary">
    <div class="row">

      <div class="col">
        <img src="{{ url_for('video_feed') }}" width="90%" style="border: 2px solid blue;"></img>
     </div>
     <div class="col">
      <a href="{{ url_for('attendance') }}" class="btn  bg-success" style="color:white;">[ View Recorded  Attendance]</a>
     </div>

    </div>
   
  </div>
 
 </center>

</body>
</html>